{% extends "base.html.twig" %}

{% block title %}Modification du profil{% endblock %}


{% block body %}
    <div class="col-lg-8 col-md-10 mx-auto">
        <h1 class="text-primary text-center">Modification du profil</h1>

        <div class="mt-4 mb-3 edit-profile">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success btn-lg col-12">Modifier</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}