{% extends "base.html.twig" %}

{% block title %}Réinitilisation du mot de passe{% endblock %}


{% block body %}
    <div class="password-reset col-lg-8 col-md-10 mx-auto">

        <h1 class="h1 text-primary text-center">Réinitilisation du mot de passe</h1>

        <div class="mt-4 mb-3">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="text-center">
                <button type="submit" class="col-6 btn btn-success btn-lg">Réinitialiser</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}