/* Page - Modifier le profil*/

/* Modifie le contenu du bouton (Browser) généré par Bootstrap */
.edit-profile .custom-file-input ~ .custom-file-label:lang(fr)::after {
    content: "Choisir...";
}




/* Page - Créer une figure  */

.add-trick form fieldset legend {
    display: none;
}

.add-trick .pictures,
.add-trick .videos {
    padding-left: 0;
    list-style: none;
}

.add-trick .pictures li,
.add-trick .videos li {
    margin-bottom: 10px;
}

.add-trick .pictures li:last-child,
.add-trick .videos li:last-child {
    margin-top: 25px;
    margin-bottom: 25px;
}

.add-trick .pictures li button,
.add-trick .videos li button {
    padding: .375rem .75rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
}

.add-trick .pictures li .form-group label {
    display: none;
}

.add-trick .pictures li .form-group .custom-file-label {
    display: inline-block;
}

/* Modifie le contenu du bouton (Browser) généré par Bootstrap */
.add-trick .custom-file-input ~ .custom-file-label:lang(fr)::after {
    content: "Choisir...";
}




/* Page - Modifier une figure  */


.edit-trick h2 {
    text-align: center;
}

/* Modal pour afficher une image en grand */
.edit-trick .modal-picture .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.edit-trick .modal-picture .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.edit-trick .modal-picture .modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.edit-trick .modal-picture .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.edit-trick .modal-picture .close:hover,
.edit-trick .modal-picture .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .edit-trick .modal-picture .modal-content {
        width: 100%;
    }
}

/* Modal pour supprimer une figure */
.edit-trick .delete-trick .modal-body span {
    font-weight: bold;
}

/* Si aucune images ou vidéos */
.edit-trick .container-gallery .empty-picture,
.edit-trick .container-gallery .empty-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/* Alignement des images et videos */
.edit-trick .container-gallery  {
    display: flex;
    flex-direction: row;
}

.edit-trick .container-gallery .pictures-trick,
.edit-trick .container-gallery .videos-trick  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
}

@media only screen and (max-width: 720px) {
    .edit-trick .container-gallery .pictures-trick,
    .edit-trick .container-gallery .videos-trick  {
        flex-direction: column;
        width: 100%;
    }
}

.edit-trick .container-gallery .pictures-trick .picture {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
    min-width: 200px;
    padding-right: 5px;
}

.imgModal {
    width: 200px;
    cursor: pointer;
    transition: 0.3s;
}

.imgModal:hover {opacity: 0.9;}

/* Bouttons pour afficher une popup ajout ou suppression d'un media */
.edit-trick .container-gallery .pictures-trick .picture .buttons,
.edit-trick .container-gallery .videos-trick .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-end;
    padding: 5px;
    border: 1px solid black;
}

.edit-trick .container-gallery .videos-trick .video-buttons {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

.edit-trick .container-gallery .videos-trick .video-buttons .video {
    min-width: 200px;
}

.edit-trick .container-gallery .pictures-trick .picture .buttons button,
.edit-trick .container-gallery .videos-trick .video-buttons .buttons button {
    padding: 0;
}

/* Bouton d'ajout */
.edit-trick .container-gallery .pictures-trick .add,
.edit-trick .container-gallery .videos-trick .add  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 200px;
    margin-right: 40px;
    align-items: center;
    border: 2px solid black;
    width: 200px;
    padding: 0;
}

.edit-trick .container-gallery .pictures-trick .add:hover,
.edit-trick .container-gallery .videos-trick .add:hover  {
background-color: grey;
}

/* Icon de suppression */
.edit-trick .container-gallery .pictures-trick .picture .buttons img,
.edit-trick .container-gallery .videos-trick .buttons img {
    width: 15px;
    height: 15px;
}

/* Icon d'ajout */
.edit-trick .container-gallery .pictures-trick button img,
.edit-trick .container-gallery .videos-trick button img {
    width: 40px;
    height: 40px;
}

/* Modal pour ajouter ou supprimer un media */

.edit-trick .container-gallery .modal-container .add-picture .modal-body .form-group label,
.edit-trick .container-gallery .modal-container .add-url .modal-body .form-group label {
    display: none;
}

.edit-trick .container-gallery .modal-container .add-picture .modal-body .form-group .custom-file-label,
.edit-trick .container-gallery .modal-container .add-url .modal-body .form-group .custom-file-label {
    display: inline-block;
}

/* Modifie le contenu du bouton (Browser) généré par Bootstrap */
.edit-trick .container-gallery .modal-container .add-picture .custom-file-input ~ .custom-file-label:lang(fr)::after,
.edit-trick .container-gallery .modal-container .add-url .custom-file-input ~ .custom-file-label:lang(fr)::after {
    content: "Choisir...";
}

.edit-trick .container-gallery .pictures-trick .modal-container .delete .modal-body span {
    font-weight: bold;
}

/* Mise en page de la partie infos */
.edit-trick .container-infos {
    width: 80%;
    margin: auto;
}

.edit-trick .container-infos .infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
    padding: 10px;
    border: solid;
}

.edit-trick .container-infos .infos p {
    margin-bottom: 0;
}

.edit-trick .container-infos .infos span {
    font-weight: bold;
}

/* Mise en page de la partie formulaire */
.edit-trick .container-infos form label {
    width: 100%;
}

.edit-trick .container-infos form .form-group #trick_description {
    min-height: 250px;
}

.edit-trick .container-infos form fieldset legend{
    display: none;
}

.edit-trick .container-infos form #trick_category .form-group {
    max-width: 150px;
}

.edit-trick .container-infos form #trick_category .form-group:last-child {
    display: none;
}

.edit-trick .container-infos form .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.edit-trick .container-infos form .buttons button {
    max-width: 150px;
}

.edit-trick .container-infos form .buttons button:first-child {
    margin-right: 20px;
}




/* Footer  */


footer {
    height: 80px;
}

footer img {
    width: 30px;
    height: 30px;
}