home:
     path: /
     controller: App\Controller\HomeController::homePage

registration:
     path: /inscription
     controller : App\Controller\AccountController::registrationPage

login:
     path: /connexion
     controller: App\Controller\LoginController::login

password_forgot:
     path: /mot-de-passe-oublie
     controller: App\Controller\AccountController::passwordForgot

password_reset:
     path: /mot-de-passe-reinitialise/{token}
     controller: App\Controller\AccountController::passwordReset

profile:
     path: /profil
     controller: App\Controller\ProfileController::profilePage

profile_edit:
     path: /modifier-profil/{token}
     controller: App\Controller\ProfileController::profileEdit

logout:
     path: /deconnexion
     controller: App\Controller\LoginController::logout

trick_details:
     path: /figure/details/{slug}/{page}
     controller: App\Controller\TrickController::detailsTrick

trick_create:
     path: /figure/creer
     controller: App\Controller\TrickController::createTrick

trick_edit:
     path: /figure/modifier/{slug}
     controller: App\Controller\TrickController::editTrick

trick_delete:
     path: /figure/supprimer/{trickId}
     controller: App\Controller\TrickController::deleteTrick

trick_picture_add:
     path: /figure/ajouter/image/{slug}
     controller: App\Controller\PictureController::addPictureTrick

trick_main_picture_edit:
     path: /figure/modifier/image-principale/{slug}
     controller: App\Controller\PictureController::editMainPicture

trick_picture_delete:
     path: /figure/supprimer/image/{pictureId}/{trickId}
     controller: App\Controller\PictureController::deletePictureTrick

trick_video_add:
     path: /figure/ajouter/video/{slug}
     controller: App\Controller\VideoController::addVideoTrick

trick_video_delete:
     path: /figure/supprimer/video/{videoId}/{trickId}
     controller: App\Controller\VideoController::deleteVideoTrick