<p>
    Bonjour {{ user.username }}, pour votre demande de réinitilisation du mot de passe, veuillez cliquer sur le lien ci-dessous :<br>
    <a href="{{ url('password_reset', {token: user.token}) }}">Réinitialiser le mot de passe</a><br>
    Merci !
</p>