<footer>

    <div class="bg-light row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <img src={{ asset('img/icons/copyright.png') }} alt="Copyright" />
            <p class="copyright text-muted text-center">Copyright 2020. Tous droits réservés</p>
        </div>
    </div>

</footer>